---
const { lists } = Astro.props;
---

{
	lists.map((item) => {
		const str = item.description;
		const arr = str
			.split(/\d+\. /)
			.filter((x) => x !== '')
			.map((x) => x.trim());
		const paragraphs = arr.map((value, index) => (
			<div key={index}>{index + 1 + '.' + value}</div>
		));
		return (
			<div class="w3-container">
				<div class="w3-flex">
					<h5 class="w3-opacity">
						<b>{item.experience}</b>
					</h5>
					<h6 class="w3-text-teal">
						<i class="iconfont icon-riqishijian" />
						{item.period}
						{item.current && (
							<>
								{' '}
								- <span class="w3-tag w3-teal w3-round">Current</span>
							</>
						)}
					</h6>
				</div>
				<div>{paragraphs}</div>
				<hr />
			</div>
		);
	})
}
